.bgYellow {
  display: flex;
  flex: 1;
  
  height: 100vh;
}

.bgBlueRight {
  flex: 1;
  background-color: rgb(224, 224, 243);
}

.bgRedLeft {
  flex: 5;
  
}

.dashbordMenu{
    
    
}

.imgContact{
    
}

.dashbordMenuText {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0 2rem;
}

.dashbordMenuText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
