.navbarContainer {
  flex: 1;
  display: flex;
  background-color: black;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 100px;
}

.navbarTop {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.navbarTop .left {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.navbarTop .right {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.navIcon {
  font-size: 30px;
  color: #c29d59;
}

.navIcon:hover {
  font-size: 30px;
  color: #000;
}

.contactItem {
  cursor: pointer;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.borderRight {
  border-right: 1px solid #f2f2f2;
}

.contactItem:hover {
  background-color: #fff;
}

.contactItem:hover .navIconLink {
  color: #000;
}

.contactItem:hover .navIcon {
  color: #000;
}

.navIconLink {
  color: #fff;
  text-decoration: none;
}

.socialIconContainer {
  padding: 15px;
  text-decoration: none;
}

.socialIcon {
  color: #c29d59;
  font-size: 30px;
}

.socialIconContainer:hover {
  background-color: #fff;
}

.socialIconContainer:hover .socialIcon {
  color: #000;
}

.navhome {
 
}

.navbarBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
}

.rightButtonsContainer {
  display: flex;
  padding: 15px;
  gap: 15px;
}

.openmodal{
  background-color: #c29d59;
  padding: 220px;
  margin-top: -169px;
  font-size: 40px;
}
.openmodal:hover{
  background-color: #807868;
}

.closeModal{
margin-top: -8rem;
 margin-left: 40rem;
 font-size: 4rem;
}

.rightSearch{
  background-color: #c29d59;
  padding: 5px;
  font-size: 60px;
  color: #f2f2f2;
}
.rightSearch:hover{
  background-color: black;

}




/* Media queries for smaller screens */
@media (max-width: 767px) {
  .navbarTop {
    display: flex;
    flex-direction: row;
   background-color: #c29d59;
   width: 19rem;
   margin-left: -4rem;
   overflow-x: hidden;
   

  }

  .navbarBottom {
   background-color: rgb(246, 245, 247);
margin-left: -8rem;
justify-content: center;
margin-top: 1em;
text-align: center;

  }

  .modal {
    background-color: rgb(33, 199, 199);
    margin-left: 44rem;
  }

  .navLinks {
   background-color: blue;

  }

  .closeBtn {
   background-color: chartreuse;
   display: none;
}

.openmodal {
  background-color: rgb(9, 9, 9);
  margin-left: -10rem;
  color: #fff;
}

.closeModal{

margin-left: 5rem;
margin-top: -2rem;
}
}