.lifeisshort {
  background-color: #92aeae;
  margin-top: -37rem;
  margin-left: 25rem;
  font-size: 7rem;
  color: beige;
  overflow-x: hidden;
}
.theworldiswide{
 font-size: 4rem;
 color: #C29D59;;
 margin-left: 27rem; 
}

.homefirst21000{
 font-size: 2rem;
  margin-left: 17rem;
  color: antiquewhite;
}
.aboutusall{
  display: flex;
  flex-direction: row;
  padding: 20px;

}

.about:hover{
  color: rgb(6, 6, 6);

}
.sidee{
  padding: auto;
  text-align: center;
}
.about{
  color: #C29D59;
  font-size: 3rem;
  margin-right: 11em;
}

.plan{
 
  font-size: 3rem;
  
}
.readmore{
  display: flex;
  background-color: #C29D59;
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  margin-top: 3rem;
  margin-left: 33rem;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.readmore:hover{
  
  background-color: rgb(8, 8, 8);
 
}


.header-card{
 margin-top: -40px;
  padding: 12px 42px;
  font-size: 30px;
}
.header-card1{
 margin-top: -10px;
  padding: 12px 42px;
  font-size: 25px;
}

.header-card2{
 margin-top: -20px;
  padding: 12px 42px;
  font-size: 20px;
  margin-left: 13px;
}
.all-card{
  
}

.allCard{
  gap: 7rem;
  display: flex;
  padding: 40px;

}


.side11{

}
.italy-pic{
  margin-top: 2rem;
  width: 200px;
  height: 200px;
  justify-content: space-evenly;
 
}

.readmoree{
  display: flex;
  background-color: #C29D59;
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  margin-left: -1rem;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.readmoree:hover{
  
  background-color: rgb(8, 8, 8);
 
}

.test2{
 padding: 30px 30px;
  font-size: 30px;
}

.cu{
  color: #C29D59;
}

.imagetestmony{
  padding: 3rem;
  margin-top: -30px;
}


.testimonial-paragraph{
  width: 35rem;
  margin-left: 45rem;
  margin-top: -24rem;
  font-size: 1.4rem;
}

.footer1 {
 
 
}

.bold {
  font-size: 3rem;
  margin-left: -0rem;
}

.b {
  font-size: 5rem;
  color: #c29d59;
}
.i {
  font-size: 1.3rem;
}
.footer {
  display: flex;
  background-color: #0d0c0c;
  color: #f8f4f4;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer1 {
  background-color: #090000;
  color: #c95858;
}

.email1 {
  display: flex;
  background-color: #e8e3e3;
}

.pay {
  display: flex;

  place-items: 3rem;
  justify-content: space-evenly;
  font-size: 5rem;
}

.aa {
  width: 14rem;
  height: 3rem;
  border-radius: 1em;
}

.aa1 {
  width: 14rem;
  height: 3rem;
  border-radius: 1em;
}

.listf {
  font-size: 25px;
}

.help2 {
  font-size: 2em;
  margin-top: 2rem;
}

.footer12 {
  background-color: #060606;
}

.lineff {
  font-size: 4rem;
}

.down {
  font-size: 1.5rem;
}
.c {
  font-size: 2rem;
  color: #c29d59;
}
.clicktop {
  font-size: 1rem;
  background-color: #c29d59;
  margin-left: 100rem;
  color: #f1ecec;
  border-radius: 2em;
  width: 5rem;
  height: 2em;
}


/* contact page start */
.contactcss {
  font-size: 6rem;
  margin-top: -55rem;
  margin-left: 18rem;
  color: white;
}

.contact-message{
  display: flex;
  flex-direction: column;
  background-color: #92aeae;
  margin-top: 3rem;
  border: 6px solid #c29d59;
 margin-left: 22rem;
}




.getaquestion {
  font-size: 1rem;
  margin-top: -12rem;
  margin-left: 17rem;
 
  
}

.whybookwithus {
  font-size: 1rem;
  margin-left: 47rem;
  margin-top: -12rem;
 
}


/* end contact page */






























@media (max-width: 767px) {

  .img-home{
  margin-top: 1rem;
 
  }
  .theworldiswide{
    display: flex;
    margin-top: -29rem;
    margin-left: 3rem;
    font-size: 30px;
  }
  .homefirst21000{
  flex-direction: row;
 font-size: 20px;
 margin-top: 4rem;
  margin-left: 2rem;
  color: antiquewhite;
}

.display-none{
  display: none;
}

.aboutusall{
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  padding: auto;
}
.about{
  color: #C29D59;
  flex-direction: row;
  font-size: 1.5rem;
 
}

.plan{
 
  font-size: 3rem;
  
}

.readmoree{
  display: flex;
  background-color: #C29D59;
  padding: 5px 0px;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;

  color: white;
  font-weight: bold;
  font-size: 5px;
  cursor: pointer;
}
.readmore:hover{
  
  background-color: rgb(8, 8, 8);
 
}

.allCard{
  gap: 1rem;
  display: flex;
  padding: 3px;

}

.italy-pic{
  margin-top: 2rem;
  width: 90px;
  height: 100px;

 
}

.readmoree{
  display: flex;
  background-color: #C29D59;
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  margin-left: -.1rem;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.readmoree:hover{
  
  background-color: rgb(8, 8, 8);
 
}

.testimonial-paragraph{
margin-left: 3rem;
margin-top: .3rem;
width: 20rem;
}
.test2 {
    display: none;
  }
  .lineff {
    display: none;
  }
  .linebottom {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: column;
    margin-top: -111px;
  }

  .abc {
    display: flex;
    flex-direction: column;
  }
  .clicktop {
    display: none;
  }


}

@media (max-width: 767px) {


.contact-message{
  display: flex;
  flex-direction: column;
  background-color: #92aeae;
  margin-top: 3rem;
  border: 6px solid #c29d59;
 margin-left: -4rem;
}




.getaquestion {
  background-color: #92aeae;
  font-size: 1rem;
  margin-top: 4rem;
  margin-left: 3rem;
}

.whybookwithus1 {
  display: none;
 
}

}















